<ion-header>
  <ion-toolbar>
    <ion-title>Chelsea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button routerLink ="/home">Return</button>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" src="https://upload.wikimedia.org/wikipedia/commons/9/90/Stamford_Bridge_Clear_Skies.JPG">
  <p></p>
  <p><strong><u>Stamford Bridge</u></strong></p>
  <p>Capicity : 40,834</p>
  <p>Opening Date : 28 April 1877</p>
  <p>Location : Fulham
                London, SW6
                England</p>
</ion-content>





