<ion-header>
  <ion-toolbar>
    <ion-title>West Brom</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" 
src="https://upload.wikimedia.org/wikipedia/commons/2/22/The_Hawthorns_2013-12-21.jpg">
  <p></p>
  <p><strong><u>The Hawthorns</u></strong></p>
  <p>Capicity : 26,688</p>
  <p>Opening Date : 3 September 1900</p>
  <p>Location : West Bromwich</p>
</ion-content>





