<ion-header>
  <ion-toolbar>
    <ion-title style="color: cadetblue;">Aston Villa</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" src="https://upload.wikimedia.org/wikipedia/commons/0/01/Villa_Park.jpg">
  <p></p>
  <p><strong><u>Villa Park</u></strong></p>
  <p>Capicity : 42,682</p>
  <p>Opening Date : 1897</p>
  <p>Location : Trinity Rd, 
                Birmingham B6 6HE, 
                United Kingdom</p>
</ion-content>