<ion-header>
  <ion-toolbar>
    <ion-title>Man City</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button routerLink ="/home">Return</button>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" 
src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Etihad_Stadium.jpg">
  <p></p>
  <p><strong><u>Etihad Stadium</u></strong></p>
  <p>Capicity : 55,017 </p>
  <p>Opening Date : 25 July 2002</p>
  <p>Location : Etihad Campus
                Manchester</p>
</ion-content>





