<ion-header>
  <ion-toolbar>
    <ion-title>West Ham</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" 
src="https://upload.wikimedia.org/wikipedia/commons/f/f1/FloodlitLondonStadium.jpg">
  <p></p>
  <p><strong><u>London Stadium</u></strong></p>
  <p>Capicity : 60,000</p>
  <p>Opening Date : 6 May 2012</p>
  <p>Location : Queen Elizabeth Olympic Park, 
                Stratford,
                London</p>
</ion-content>





