<ion-header>
  <ion-toolbar>
    <ion-title>Arsenal</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Emirates_Stadium_east_side_at_dusk.jpg">
  <p></p>
  <p><strong><u>The Emirates</u></strong></p>
  <p>Capicity : 60,704</p>
  <p>Opening Date : 22 July 2006</p>
  <p>Location : Highbury House,
                75 Drayton Park,
                Highbury
                London, N5 1BU
                England
</ion-content>
