<ion-header>
  <ion-toolbar>
    <ion-title>Wolves</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" 
src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Molineux_Stadium%2C_Wolverhampton%2C_2018.jpg">
  <p></p>
  <p><strong><u>Molineux Stadium</u></strong></p>
  <p>Capicity : 32,050</p>
  <p>Opening Date : 1889</p>
  <p>Location : Waterloo Road, 
                Wolverhampton</p>
</ion-content>





