<ion-header>
  <ion-toolbar>
    <ion-title>Spurs</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" 
src="https://upload.wikimedia.org/wikipedia/commons/5/5b/White_Hart_Lane_from_South_End.JPG">
  <p></p>
  <p><strong><u>White Heart Lane</u></strong></p>
  <p>Capicity : 36,284</p>
  <p>Opening Date : 4 September 1899</p>
  <p>Location : Tottenham
                London, N17
                England</p>
</ion-content>





