<ion-header>
  <ion-toolbar>
    <ion-title>Southampton</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button routerLink ="/home">Return</button>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" 
src="https://upload.wikimedia.org/wikipedia/commons/5/52/St_Mary%27s_Stadium_%282%29.jpg">
  <p></p>
  <p><strong><u>St Mary's Stadium</u></strong></p>
  <p>Capicity : 32,384</p>
  <p>Opening Date : August 2001</p>
  <p>Location : The Friends Provident St Mary's Stadium</p>
</ion-content>





