<ion-header>
  <ion-toolbar>
    <ion-title>Liverpool</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" 
src="https://upload.wikimedia.org/wikipedia/commons/0/02/Panorama_of_Anfield_with_new_main_stand_%2829676137824%29.jpg">
  <p></p>
  <p><strong><u>Anfield</u></strong></p>
  <p>Capicity : 53,394</p>
  <p>Opening Date : 1884</p>
  <p>Location : Anfield, 
                Liverpool, 
                Merseyside, 
                England</p>
</ion-content>





