<ion-header>
  <ion-toolbar>
    <ion-title>Brighton</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Falmer_Stadium_-_night.jpg">
  <p></p>
  <p><strong><u>Falmer Stadium</u></strong></p>
  <p>Capicity : 30,750</p>
  <p>Opening Date : July 2011</p>
  <p>Location : Falmer, 
                Brighton, 
                East Sussex, 
                England</p>
</ion-content>





