<ion-header>
  <ion-toolbar>
    <ion-title>Burnley</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Turf_Moor_-_Harry_Potts_Way_%28east%29.jpg">
  <p></p>
  <p><strong><u>Turf Moor</u></strong></p>
  <p>Capicity : 21,944</p>
  <p>Opening Date : 17 February 1883</p>
  <p>Location : Burnley, 
                Lancashire, 
                England</p>
</ion-content>





