<ion-header>
  <ion-toolbar>
    <ion-title>Theme</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons (click)='save_Message()' (click)='set_Fave_Team()' slot="end">
      Save
    </ion-buttons>

  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-lable>Selected Team = {{favTeam}}</ion-lable>

  <ion-list>
    <ion-radio-group [(ngModel)]="favTeam">
      <ion-list-header>
        <ion-label>
          Teams
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Arsenal</ion-label>
        <ion-radio value="arsenal" style="color: red;"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Aston Villa</ion-label>
        <ion-radio value="aston-villa"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Brighton</ion-label>
        <ion-radio value="brighton"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Burnley</ion-label>
        <ion-radio value="burnley"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Chelsea</ion-label>
        <ion-radio value="chelsea"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Crystal Palace</ion-label>
        <ion-radio value="crystal-palace"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Everton</ion-label>
        <ion-radio value="everton"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Fulham</ion-label>
        <ion-radio value="fulham"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Leeds</ion-label>
        <ion-radio value="leeds"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Leicester</ion-label>
        <ion-radio value="leicester"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Liverpool</ion-label>
        <ion-radio value="liverpool"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Man City</ion-label>
        <ion-radio value="man-city"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Man Utd</ion-label>
        <ion-radio value="man-utd"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Newcastle</ion-label>
        <ion-radio value="newcastle"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Shefield</ion-label>
        <ion-radio value="shefield"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Southampton</ion-label>
        <ion-radio value="southampton"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Tottenham</ion-label>
        <ion-radio value="spurs"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>West Brom</ion-label>
        <ion-radio value="west-brom"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Westham Utd</ion-label>
        <ion-radio value="west-ham"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Wolves</ion-label>
        <ion-radio value="wolves"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>
