<ion-header>
  <ion-toolbar>
    <ion-title>Fulham</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" 
src="https://upload.wikimedia.org/wikipedia/commons/7/75/Craven_Cottage_Football_Ground_-_geograph.org.uk_-_778731.jpg">
  <p></p>
  <p><strong><u>Craven Cottage</u></strong></p>
  <p>Capicity : 19,359</p>
  <p>Opening Date : 1896</p>
  <p>Location : Fulham
                London, SW6
                England</p>
</ion-content>





