<ion-header>
  <ion-toolbar>
    <ion-title>Newcastle</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" 
src="https://upload.wikimedia.org/wikipedia/commons/2/2b/Aerial_view_of_St_James_Park_-_geograph.org.uk_-_472327_%28cropped%29.jpg">
  <p></p>
  <p><strong><u>St James' Park</u></strong></p>
  <p>Capicity : 52,305</p>
  <p>Opening Date : 1892</p>
  <p>Location : Newcastle upon Tyne</p>
</ion-content>





