<ion-header>
  <ion-toolbar>
    <ion-title>crystal Palace</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Selhurst_Park_Holmesdale_Stand.jpg">
  <p></p>
  <p><strong><u>Selhurst Park</u></strong></p>
  <p>Capicity :	25,486</p>
  <p>Opening Date : August 1924</p>
  <p>Location : Selhurst
                London, SE25
                England</p>
</ion-content>





