<ion-header>
  <ion-toolbar>
    <ion-title>Leicester</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" 
src="https://upload.wikimedia.org/wikipedia/commons/b/bb/King_Power_Stadium_wide_view.jpg">
  <p></p>
  <p><strong><u>King Power Stadium</u></strong></p>
  <p>Capicity : 32,261</p>
  <p>Opening Date : 2002</p>
  <p>Location : Filbert Way
                Leicester</p>
</ion-content>





