<ion-header>
  <ion-toolbar>
    <ion-title>Leeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button routerLink ="/home">Return</button>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" 
src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Elland_Road_Stadium_panoramic_view_from_its_southeastearn_corner.jpg">
  <p></p>
  <p><strong><u>Elland Road</u></strong></p>
  <p>Capicity : 37,792</p>
  <p>Opening Date : 1897</p>
  <p>Location : Elland Road, 
                Beeston, 
                Leeds, 
                England </p>
</ion-content>





