<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Primear League Stadiums
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Primear League Stadiums</ion-title>
    </ion-toolbar>
  </ion-header>

  <ul>
    <li [routerLink]="['/arsenal']" routerDirection = "forward">Arsenal</li>
    <li [routerLink]="['/aston-villa']" routerDirection = "forward">Aston Villa</li>
    <li [routerLink]="['/brighton']" routerDirection = "forward">Brighton</li>
    <li [routerLink]="['/burnley']" routerDirection = "forward">Burnley</li>
    <li [routerLink]="['/chelsea']" routerDirection = "forward">Chelsea</li>
    <li [routerLink]="['/crystal-palace']" routerDirection = "forward">Crystal Palace</li>
    <li [routerLink]="['/everton']" routerDirection = "forward">Everton</li>
    <li [routerLink]="['/fulham']" routerDirection = "forward">Fulham</li>
    <li [routerLink]="['/leeds']" routerDirection = "forward">Leeds</li>
    <li [routerLink]="['/leicester']" routerDirection = "forward">Leicester</li>
    <li [routerLink]="['/liverpool']" routerDirection = "forward">Liverpool</li>
    <li [routerLink]="['/man-city']" routerDirection = "forward">Man City</li>
    <li [routerLink]="['/man-utd']" routerDirection = "forward">Man Utd</li>
    <li [routerLink]="['/newcastle']" routerDirection = "forward">Newcastle</li>
    <li [routerLink]="['/shefield']" routerDirection = "forward">Shefield Utd</li>
    <li [routerLink]="['/southampton']" routerDirection = "forward">Southampton</li>
    <li [routerLink]="['/spurs']" routerDirection = "forward">Tottenham Hotspur</li>
    <li [routerLink]="['/west-brom']" routerDirection = "forward">West Brom</li>
    <li [routerLink]="['/west-ham']" routerDirection = "forward">Westham</li>
    <li [routerLink]="['/wolves']" routerDirection = "forward">Wolves</li>
  </ul>

</ion-content>
