<ion-header>
  <ion-toolbar>
    <ion-title>Everton</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button routerLink ="/home">Return</button>
  <p></p>
  <img style="height: 250px;" style="width: fit-content;" src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Goodison2017.JPG">
  <p></p>
  <p><strong><u>Goodison Park</u></strong></p>
  <p>Capicity : 39,414</p>
  <p>Opening Date :	24 August 1892</p>
  <p>Location : Goodison Road
                Walton, 
                Liverpool, 
                England</p>
</ion-content>





